<div hx-ext="response-targets">
    {% if ingredient.id is not None %}
        <h1>Ingredient</h1>
        <form hx-put="{% url 'libraryapp:ingredient' ingredient.id %}" hx-target-400="#badrequest" hx-trigger="submit">
    {% else %}
        <h1>New Ingredient</h1>
        <form hx-post="/ingredients" hx-target-400="#badrequest" hx-trigger="submit">
    {% endif %}
        {% csrf_token %}
        <fieldset>
            <label for="name">Name: </label>
            <input id="name" type="text" name="name" value="{{ ingredient.name }}">
        </fieldset>
        <fieldset>
            <label for="potency">Potency: </label>
            <input id="potency" type="number" name="potency" value="{{ ingredient.potency }}">
        </fieldset>
        <fieldset>
            <label for="type">Magical Type: </label>
            <select id="type" type="text" name="type">
                {% for type in types %}
                <option {% if type.id == ingredient.type_id %}selected{% endif %} value="{{ type.id }}">
                    {{ type.description }}</option>
                {% endfor %}
            </select>
        </fieldset>

        {% if ingredient.id is not None %}
            <input type="submit" value="Update" />
        {% else %}
            <input type="submit" value="Create" />
        {% endif %}
    </form>
</div>
