<div class="flex flex-col w-1/2 mt-12">
{% for ingredient_type in ingredients %}
<h1>{{ ingredient_type.0.type.description }}</h1>
  <table class="table table-xl mx-auto">
    <tbody>
      {% for ingredient in ingredient_type %}
        <tr class="text-lg">
          <td class="w-4/5">
            <a class="link link-secondary" id="ingredient--{{ ingredient.id }}"
            hx-swap="innerHTML transition:true" hx-target="#dynamic-content"
            hx-get="{% url 'triad:ingredient' ingredient.id %}">{{ ingredient.name }}</a>
          </td>
          <td>{{ ingredient.potency }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endfor %}
</div>
