{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Triad of Arcana</title>

    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.23/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'styles/base.css' %}" />

    {% block css %}
    {% endblock %}
</head>

<body data-theme="emerald">
    <nav id="site-nav">
        <ol class="navList">
            <li class="navList__route">
                <a class="link link-primary" href="{% url 'triad:home' %}">Home</a>
            </li>
            <li class="navList__route">
                <a class="link link-primary" href="{% url 'triad:ingredients' %}">Ingredients</a>
            </li>
            <li class="navList__route">
                <a class="link link-primary" href="{% url 'triad:words' %}">Words</a>
            </li>
        </ol>
    </nav>

    <main id="main-content" class="flex justify-center">
        {% block content %}
        {% endblock %}
    </main>

    {% block scripts %}
    {% endblock %}

    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
</body>

</html>