@font-face {
  font-family: 'Enchanted'; /* You can choose any name for your font */
  src: url('/static/fonts/enchanted.ttf') format('truetype'); /* Specify the path to your font file */
}

body {
  margin: 0;
  padding: 0;
  font-size: 2.7em;
  font-family: 'Enchanted', sans-serif;
}

.btn {
  font-size: x-large;
}

.main-content {
  padding: 1em 2em;
}

.navList {
  list-style-type: none;
  display: flex;
  border: 1px solid lightgray;
  padding: 0.2em 0 0.5rem 2rem;
  margin: 0;
}

.navList__route {
  margin: 0 0.5em;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(90px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-90px);
  }
}

/* define animations for the old and new content */
::view-transition-old(slide-it) {
  animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(slide-it) {
  animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

/* tie the view transition to a given CSS class */
#dynamic-content {
  view-transition-name: slide-it;
}