{% extends 'base.html' %}

{% block content %}
  <!-- Spells Section Container -->
  <div id="spells-container" class="w-4/5 flex justify-center flex-col">
    <!-- Navigation or Action Buttons -->
    <div class="spells-actions flex justify-center space-x-5">
      <button class="btn btn-primary"
            hx-swap="innerHTML transition:true"
            hx-get="/spells"
            hx-target="#dynamic-content">View Spells</button>
      <button class="btn btn-primary"
              hx-get="/spells/form"
              hx-swap="innerHTML transition:true"
              hx-target="#dynamic-content">Add New Item</button>
    </div>

    <!-- Dynamic Content Area -->
    <!-- This is where the list, details, forms, etc., will be loaded -->

    <div id="dynamic-content" hx-get="/spells" hx-trigger="load" class="flex justify-center w-full">
      <!-- Content loaded via HTMX will appear here -->
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <!-- Any specific JavaScript needed for the spells section -->
{% endblock %}
